body
{
    background-color: #e0e0e0;
}

.heading
{
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img
{
    float: left;
    margin-right: 10px;
}

section
{
    padding: 10px;
    background-color: white;
}

strong
{
    color:#2493df;
}

li
{
    list-style: square inside;
    padding-left: 30px;
}

table
{
    border-collapse: collapse;
}

td, th
{
    border: black 1px solid;
    padding: 10px;
}

th
{
    background-color: #2493df;
    color: white;
}

input[type="number"]
{
    padding: 2px;
    text-align: center;
    width: 50px;
}

input[type="button"]
{
    background-color: #2493df;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    height: 40px;
    width: 100%;
}

form
{
    display: flex;
}

.form-section
{
    flex: 1;
}

#buy
{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #687373;
    margin-top: 10px;
    color: #fcfcfc;
    width: 100%;
    box-sizing: border-box;
}

label
{
    font-size: 16px;
    font-weight: bold;
}

footer
{
    color:#595959;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}